<!DOCTYPE html> 
<html lang="en">    

<head>      
<title>Home Page</title>
    
    
<style>
body
  
.button {
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }
 
.auto-style1 {
	border-style:inset;
	border-color: inherit;
	border-width:thin;
	background-color:orange;
	color: white;
	padding: 9px 150px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;  
    }
img{
   float:right;
}
h1{
font-size: 30px;
text-decoration: underline;
    text-align: center;
}
nav{
       background-color: black;
}
 


    </style>
    
<header>
                                   
</header>            
   
</body>
</html>